body {
  font: 19px "Apple SD Gothic Neo", AppleSDGothicNeo, "Malgun Gothic", "맑은 고딕", 돋움, dotum, arial, sans-serif;
}

.badges {
  text-align: center;
}

.badges > a {
  display: inline-block;
  margin: 10px;
}

.badges > a.youtube {
  margin: 0 40px;
}

.badge {
  display: inline-block;
  margin: 0;
}

.badge.spotify {
  border: 1px solid #a6a6a6;
  border-radius: 15px;
}

h5 {
 font-size: 0.9rem;
}

.refs {
  font-size: 0.9rem;
}

.refs ul {
  margin-top: 0;
}
